* {
  margin: 0%;
  padding: 0%;
}
.container {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
}
h1 {
  color: rgb(68, 68, 136);
  text-align: center;
  font-size: 50px;
}
.label,
#not {
  text-align: center;
  margin: auto;
}
#name {
  margin-top: 20px;
}
#nameHead ,#bestscore{
  color: aqua;
  margin-top: 40px;
  font-size: 30px;
  width: fit-content;
}

.btn {
  margin-top: 40px;
  width: 120px;
  height: 50px;
  line-height: 40px;
  font-size: large;
  background-color: limegreen;
  border: 2px solid rgb(0, 100, 0, 0.5);
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  background-color: rgb(0, 200, 0);
  width: 150px;
}
.game-board {
  padding-bottom: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #111;
}
.text {
  display: none;
  margin-top: 20px;
  text-align: left;
}
.grid {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
  background-color: dodgerblue;
  display: none;
}
.instructions {
  margin-top: 40px;
  color: #fff;
  font-size: 35px;
  color: silver;
  display: none;
}
.main {
  margin-left: 70px;
  font-size: 40px;
  color: coral;
}
li {
  margin-top: 5px;
  font-size: 20px;
}
#lowerBtn {
  display: none;
}
